body{
    background: #23252C;
    padding: 50px;
    display: block;
    position: relative;
}
.main-card {
    position: absolute;
    top:auto;
    left:35%;
    right:30%;
    display: block;
    width:25%;
    background-color:rgb(31, 28, 53);
    border-radius: 5px;
    border-style: groove;
    border-color: darkslategrey;
}  

.h1{
    font-family: 'Inter';
}


.h2 {
    margin:0;
    margin-right: auto;
    color: #dfecef;
}

.h3 {    
    margin: 0;
    text-align: right;
    color: #DEEBF8;
    font-weight: 600;
    font-size:200;
}

.img{
    display: block;
    padding:0;
    border-bottom:0px;
    border-style: groove;
    border-color: darkslategrey;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.main-title{
    font-size: 39px;
    margin-bottom: 0;
    letter-spacing: -0.05em;
    text-align: center;
    color:#DEEBF8;
}
.main-second{
    font-size: 29px;
    margin-top:8px;
    margin-bottom:16px;
    letter-spacing: -0.05em;
    font-weight:100;
    text-align: center;
    color: bisque;
}

.buttons{
    margin-top:0;
    text-align: center;
}

.btn-email{
    display: inline;
    justify-content: center;
    padding: 9px 13px 9px 11px;
    width: 115px;
    height: 34px;
    left: 283px;
    top: 468px;    
    background: #eceff2;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

.btn-linkedin{
    display: inline;
    justify-content: center;
    margin-left:50px;
    padding: 9px 13px 9px 11px;
    gap: 8px;
    width: 115px;
    height: 34px;
    left: 283px;
    top: 468px;    
    background: #5093E2;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}


.footer{
    color: #e3d7f5;
    align-items: center;
    font-size: 21px;
    letter-spacing: -0.05em; 
}

.footer-text{
    align-self: center;
    padding: 10px;
}

